<article>
        <h1 class="title">{{name}}</h1> 
        <ul>
        <li class="capital">Capital: {{capital}}</li>
        <li class="population">Population: {{population}}</li>
        <li class="country-languages">
            Languages:
            <ul class="languages">
                {{#each languages}}
                <li class="language">{{this.name}}</li>
                {{/each}}
            </ul>
        <div>
             <img class="js-img" src="{{flag}}" alt="flag">
        </div>

        </li>
        </ul>
    </article>
